.features {
  background-color: $color-grey-light-1;
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 60px;
  align-items: start;

  @include responsive(mobile-portrait, mobile-landscape, tablet-portrait) {
    grid-template-columns: repeat(auto-fit, minmax(min-content, 1fr));
    grid-row: 4/5;
    row-gap: 3rem;
  }
}

.feature {
  display: grid;
  width: auto;
  margin-bottom: 6rem;
  transform: translateY(-1rem);
  grid-template-rows: 4.5rem 1fr;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 0G;
  grid-column-gap: 2rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
  }

  &__text {
    font-size: 1.7rem;
    grid-column: 2;
  }
}
