.header {
  background-color: $color-grey-dark-1;
  grid-column: full-start / col-end 6;
  background-image: linear-gradient(rgba($color-secondary, 0.93), rgba($color-secondary, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  padding: 8rem !important;
  padding-top: 4rem !important;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  justify-content: center;
  row-gap: 1.5rem;

  @include responsive(mobile-portrait) {
    grid-column: full-start / full-end;
    padding: 5rem;
  }

  @include responsive(mobile-landscape) {
    grid-column: full-start / full-end;
  }

  & > * {
    grid-column: 1 /-1;
  }

  &__brand {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    justify-items: center;
    align-items: center;

    img {
      max-height: 2.5rem;
      max-width: 100%;
      filter: brightness(70%);
    }
  }

  &_seenon {
    color: $color-grey-light-2;
    font-size: 1.6rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
    align-items: center;
    // grid-column: 2 / span 1;
  }

  &_seenon::before,
  &_seenon::after {
    content: "";
    height: 1px;
    display: block;
    background-color: $color-grey-light-2;
  }
}

.logo {
  grid-column: 1 / -1;
  height: 3rem;
  justify-self: center;
}
